body {
    background-image: linear-gradient(to right, #FF8451 , #FC08BC);
}

*{
  font-family: 'Roboto';
  color: white;
}

#road_block{
  width: 6pc;
}

.svg-white{
  align-items: baseline;
}

.svg-white svg{
  filter: invert(100%);
}

.svg-white a{
  text-decoration: none;
  color: white;
}

.svg-white a:hover{
  text-decoration: underline;
  color: white;
}

.timer{
  margin-top: 1.5pc;
  font-weight: bold;
  float:right;
}

.timer p{
  text-align: center;
  line-height: 0.5pc;
}

.title{
  font-size: 4pc;
}

.btn.btn-rounded{
  width: 13pc;
  font-size: 1.4pc;
  border-width: 0.2pc;
  border-radius: 40pc;
}

.timer div p{
  margin-bottom: -0.2pc;
}

.logo{
  width: 10pc;
  margin-left: 1.5pc;
  margin-top: 1.5pc;
}

@media only screen and (max-width: 600px) {
  /* Put timer on new line on mobile*/
  .timer{
    margin-top: 1.5pc;
    float: none;
    margin-left: 1.5pc;
  }
  #road_block{
    width: 5pc;
  }
  .title {
    font-size: 2pc; 
  }
  .btn.btn-rounded{
    margin-top: -1pc;
    width: 8pc;
    font-size: 1.2pc;
  }
}