@import "../common/palette.css";

.aboutContainer {
  background-image: linear-gradient(var(--color2), var(--color3) 90%);
  color: var(--white);
  padding: 7rem 0 4rem 0;
}

.aboutContainer .title {
  font-weight: bold;
  padding-bottom: 20px;
}

.aboutContainer .countdownContainer {
  background-color: var(--color4);
  position: relative;
  top: 58.5px;
}

.aboutContainer .countdownContainer .number {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  line-height: 0.9;
}

.aboutContainer .countdownContainer .timeType {
  text-align: center;
  font-size: 18px;
}

.aboutContainer p a {
  color: var(--white);
  text-decoration: underline;
}

.imageContainer {
  position: relative;
  margin-top: -20px;
  padding: 1rem;
  height: 400px;
}

.imageContainer:after {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: -5px;
  right: 10px;
  border-bottom: 8px solid var(--white);
  border-right: 8px solid var(--white);
}

.imageContainer:before {
  display: block;
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -5px;
  left: 10px;
  border-top: 8px solid var(--white);
  border-left: 8px solid var(--white);
}

@media screen and (max-width: 575px) {
  .aboutContainer .countdownContainer .number {
    font-size: 30px;
  }

  .aboutContainer .countdownContainer .timeType {
    font-size: 15px;
  }

  .aboutContainer .countdownContainer {
    top: 48.5px;
  }
}

@media (max-width: 768px) {
  .imageContainer {
    display: none;
  }
}
