div.member_container {
  padding: 0;
  flex-grow: initial;

  width: min-content;
}

.name {
  font-weight: bold;
  font-size: 1.4em;
  color: #212020;
}

.name:hover,
.name:active {
  color: #212020;
}
