@import "../common/palette.css";

.container {
  width: 100%;
  padding: 3em 1em;
  display: flex;
  justify-content: center;

  text-align: center;

  background: linear-gradient(180deg, #fc08bc 0%, #ff8451 100%);

  color: var(--white);
}

.container > svg {
  max-height: 120px;
}
